In [2]:
import pandas as pd
import csv

In [3]:
data = [
    ["id","name","age","salary"],
    [1,"Ali",25,25000],
    [2,"Naveed",24,None],
    [3,"Nadir",32,35000],
    [4,"Kabeer",None,15000],
    [5,"Shazia",27,45000],
    [6,"Hasan",29,55000],
    [7,"Qasim",28,43000],
    [8,"Rehana",28,650000],
    [9,"Qadeer",30,25000],
    [10,"Rabia",32,25000],
    [2,"Naveed",24,None],
]

In [5]:
with open('dataset.csv',mode='w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [6]:
data = []

In [7]:
with open('dataset.csv',mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        data.append(row)

In [8]:
cols = data[0]
rows = data[1:]
df = pd.DataFrame(rows, columns=cols)

In [9]:
df['id'] = pd.to_numeric(df['id'])
df['age'] = pd.to_numeric(df['age'])
df['salary'] = pd.to_numeric(df['salary'])

In [10]:
#remove duplicates
df = df.drop_duplicates()

In [11]:
df['age'] = df['age'].fillna(df['age'].mean())
df['salary'] = df['salary'].fillna(df['salary'].median())

In [12]:
#Handle outliers
Q1 = df['salary'].quantile(0.25)
Q3 = df['salary'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [14]:
median_salary = df['salary'].median()
df.loc[(df['salary'] < lower_bound) | (df['salary'] > lower_bound), 'salary'] = median_salary

In [15]:
print(df)

   id    name        age   salary
0   1     Ali  25.000000  35000.0
1   2  Naveed  24.000000  35000.0
2   3   Nadir  32.000000  35000.0
3   4  Kabeer  28.333333  35000.0
4   5  Shazia  27.000000  35000.0
5   6   Hasan  29.000000  35000.0
6   7   Qasim  28.000000  35000.0
7   8  Rehana  28.000000  35000.0
8   9  Qadeer  30.000000  35000.0
9  10   Rabia  32.000000  35000.0

In [18]:
with open('clean_dataset.csv',mode='w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(df.to_numpy())